# start
## next
### third

In [21]:
# variable decleration
a = 10
b = 5.1
c = "hey"
d = True

In [22]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
a = 10
b = 5

In [11]:
# +, - , * , / , //, **, %

In [13]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

In [14]:
print(a//b) # integer division

2

In [16]:
print(10//3) #inter divide

3

In [17]:
print(2**3)

8

In [18]:
print(10%5)
print(10%4)

0
2

In [20]:
print(a, b)
print(f"this is value of a = {a}")

10 5
this is value of a = 10

In [32]:
# logical operator
rain = False
temp = 40

playing = not rain and temp < 50

print(playing)

# if_else

In [37]:
a = 7

if a%2 == 0 :
    print("even")
else :
    print("odd")

odd

In [41]:
a = int(input())

if a%3 == 0 :
    print("Zero")
elif a%3 == 1 :
    print("one")
else :
    print(Two)

234
Zero

# Loops

In [46]:
a = list(range(2, 21, 2))
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
for i in range(20, 1, -2) :
    print(i)

20
18
16
14
12
10
8
6
4
2

In [56]:
a = int(input())

flag = True
for i in range(2,a//2) :
    if a%i == 0 :
        print("Not Prime")
        flag = False
        break

if flag == True :
    print("Prime")

97
Prime

In [58]:
for i in range(1,11) :
    print(2**i)

2
4
8
16
32
64
128
256
512
1024

# Function

In [61]:
# function defination
def fun1(a) :
    print(a)

In [63]:
fun1("hey wac")

hey wac

In [64]:
def add(a, b) :
    print(a+b)

In [65]:
add(5,4)

9

In [66]:
#rec
sum = 0
for i in range(1,11) :
    sum += i

print(sum)

55

In [67]:
def sum(a) :
    # base 
    if a == 1:
        return 1
    # recursive
    return a+sum(a-1)

In [68]:
sum(10)

55

In [76]:
def fact(a) :
    if a == 0 or a == 1 :
        return 1
    
    return a*fact(a-1)

In [139]:
fact(0)

1

In [140]:
def fibo(a) :
    #base
    if a == 0 or a == 1 :
        return a
    
    #rec case
    return fibo(a-1) + fibo(a-2)

In [146]:
fibo(6)

8

In [147]:
for i in range(17) :
    print(fibo(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

  # strings

In [78]:
a = "hello"

In [79]:
for i in a:
    print(i)

h
e
l
l
o

In [83]:
a = input("Your name = ").strip()

Your name =     asd asd

In [84]:
a

'asd asd'

shubham

# Data Structures

## tuples
## list
## sets
## dict

In [96]:
a = tuple([1,2,3,4,"asddfa"])

In [97]:
a

(1, 2, 3, 4, 'asddfa')

In [98]:
b = (2,3,564,767)

In [99]:
print(a)
print(b)

(1, 2, 3, 4, 'asddfa')
(2, 3, 564, 767)

In [100]:
type(a), type(b)

(tuple, tuple)

In [101]:
# single line assigment
# a, b, c = 5, 10 ,15

In [102]:
# a, b, c

In [103]:
print(a+b)

(1, 2, 3, 4, 'asddfa', 2, 3, 564, 767)

In [105]:
a[3]

4

## list

In [106]:
a = list([1,2,3,4,5,6,7])

In [107]:
type(a)

list

In [108]:
a[0]

1

In [109]:
a[0] = 10

In [110]:
a

[10, 2, 3, 4, 5, 6, 7]

In [111]:
for i in a:
    print(i)

10
2
3
4
5
6
7

In [112]:
b = [1,2,3,4,5]

In [114]:
len(b)

5

In [115]:
for i in range(len(b)) :
    b[i] += 5

In [116]:
b

[6, 7, 8, 9, 10]

In [117]:
c = [10,20,30,50]

In [118]:
# list comphension
c = [i+5 for i in c]

In [119]:
c

[15, 25, 35, 55]

In [121]:
print(c+b)

[15, 25, 35, 55, 6, 7, 8, 9, 10]

In [122]:
c.append(100)
c

[15, 25, 35, 55, 100]

In [124]:
max(c)

100

In [125]:
min(c)

15

In [127]:
sorted(c)

[15, 25, 35, 55, 100]

In [128]:
c.append(1)

In [129]:
c

[15, 25, 35, 55, 100, 1]

In [130]:
sorted(c)

[1, 15, 25, 35, 55, 100]

## sets

In [134]:
a = set([1,1,1,1,1,1,2,3,2,3,4,5,3,4,5,6])

In [135]:
a

{1, 2, 3, 4, 5, 6}

In [136]:
b = {1,2,3,4,5,6,7,7,6,5,43}

In [137]:
b

{1, 2, 3, 4, 5, 6, 7, 43}

## dict

In [160]:
a = {"apple" : 100, "banana" : 120, "mango" : 150, "orange" : 200}

In [161]:
a

{'apple': 100, 'banana': 120, 'mango': 150, 'orange': 200}

In [162]:
a["apple"]

100

In [163]:
a

{'apple': 100, 'banana': 120, 'mango': 150, 'orange': 200}

In [164]:
a.keys()

dict_keys(['apple', 'banana', 'mango', 'orange'])

In [165]:
a.values()

dict_values([100, 120, 150, 200])

In [166]:
for i in a.keys() :
    print(f"{i} has price = {a[i]}")

apple has price = 100
banana has price = 120
mango has price = 150
orange has price = 200

In [167]:
for i in a.keys() :
    a[i] -= 30

In [168]:
a

{'apple': 70, 'banana': 90, 'mango': 120, 'orange': 170}

In [172]:
b = {"apple" : 100, "banana" : 120, "mango" : [120, 150, 300], "orange" : 200}

In [177]:
type(b["mango"])

list

In [179]:
b["mango"][1]

150

In [180]:
l1 = ["a","b", "c", "d"]
l2 = [1,2,3,4]

In [183]:
d = {}

for i in range(len(l1)) :
    d[l1[i]] = l2[i]

In [184]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [185]:
e = dict(zip(l1, l2))

In [186]:
e

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [188]:
type(','.join(f"{l1[i]} :{ l2[i] }" for i in range(len(l1))))

str

# slicing

In [191]:
s = "abaaba"

In [197]:
s[1:-1]

'baab'

In [198]:
s == s[ : : -1]

True

In [202]:
def palin(s) :
    print(s)
    print(s[::-1])
    return s == s[::-1]

In [203]:
palin("abc")

abc
cba

False

In [204]:
l = list(range(10))

In [205]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [206]:
l[:7]

[0, 1, 2, 3, 4, 5, 6]

In [207]:
l[1: 8]

[1, 2, 3, 4, 5, 6, 7]

In [208]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [216]:
s = "     helloworld     "
s

'     helloworld     '

In [217]:
#important when taling input
s = s.strip().split()

In [218]:
s

['helloworld']